body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site {
background: linear-gradient(180deg, rgb(23, 23, 23) 0%, rgb(0, 0, 0) 100%);
    max-width: 1600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-between;
    overflow: hidden;
    height: auto;
    padding: 2pxpx;
}

.site__photos {
    max-width: 98%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-between;
    overflow: hidden;
    height: auto;
    padding: 2px;
}

.site__photo {
    background: linear-gradient(60deg, orange 0%, red 100%);
    object-fit: cover;
    max-width: 95%;
    margin: 10px auto;
    position:relative;
    height: auto;
    padding: 13px;
    border-radius: 6px;
    border: groove 2px orange;
}

.logo__photo {
    background-color: black;
    position: relative;
    margin: 40px auto;
    padding: 10px;
    max-width: 80%;
    object-fit: cover;
    height: auto;
    border-radius: 6px;
    border: groove 2px orange;
    box-shadow: 4px 4px 12px 4px red;
}

.nav__header {
    max-width: 100%;
    height: auto;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.nav__header__links {
    padding: 10px;
    margin: 20px auto;
}

.nav__link {
    background: linear-gradient(180deg, gray 0%, rgb(20, 19, 19) 100%);
    text-decoration: none;
    font-size: 1.1vw;
    color: rgb(255, 255, 255);
    margin: 30px 20px;
    padding: 3px;
    text-shadow: 2px 3px 3px rgb(211, 108, 6);
    text-align: center;
    border-bottom: solid 2px rgb(243, 7, 7);
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgb(10, 10, 10);

}

.nav__link:hover, .nav__link:active {
    color: rgb(254, 23, 11);
    border-bottom: solid 2px rgb(254, 254, 254);
    text-shadow: 1px 1px 9px rgb(255, 255, 255);
    padding: 4px;
    box-shadow: 1px 1px 5px 1px rgb(255, 255, 255);
}

.nav__link:focus{
    border: solid 2px rgb(246, 125, 3);
    color: rgb(255, 255, 255);
    border-radius: 6px;
}

/*Terminado el header*/


.search {
    box-shadow: 3px 3px 9px 3px black;
    margin: 30px auto;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}

#search__link {
    display: block;
    font-size: 1em;
    text-align: left;
    padding: 12px;
    width: 100%;
    max-width: 100%;

}

#button__search {
    position: absolute;
    left: 90%;
    padding: 10px;
    margin: 2px auto;
    font-size: 1.9em;
    text-align: right;
}


.init{
    background: linear-gradient(360deg, orange 0%, red 100%);
    max-width: 100%;
    height: auto;
    padding: 20px 15px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.init__site {
    max-width: 95%;
    height: auto;
    padding: 15px 20px;
    margin: 35px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10%;
}

.init__site__title{
    text-align: center;
    font-size: 3vw;
    padding: 10px;
    margin: 0 auto;
}

.init__site__product {
    background: linear-gradient(360deg, rgb(205, 205, 205) 0%, white 100%);
    text-decoration: none;
    box-shadow: 3px 3px 10px 3px rgb(249, 1, 1);
    border-radius: 6px;
    padding: 8px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 12px 7px;
    color: black;
    letter-spacing: 7px;
}

.init__site__product:hover {
    color: rgb(255, 13, 0);
    border: 2px rgb(144, 0, 0) solid;
    background-color: white;
}

.init__site__product:focus {
    background: linear-gradient(40deg, orange 0%, red 100%);
    color: black;
    text-shadow: 2px 2px 7px black;
    border: 2px black solid;
}





/*Aquí comienza buttons__nosotros*/

.buttons__nosotros {
    background: linear-gradient(160deg, orange 0%, red 100%);
    max-width: 100%;
    margin: 20px auto;
    justify-content: space-between;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid white;
}

 .nosotros__link {
    text-decoration: none;
    padding: 5px;
    margin: 5px auto;
    font-size: 1.2vw;
    color: rgb(196, 18, 2);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    text-shadow: 2px 2px 2px rgba(91, 91, 91, 0.997);
    box-shadow: 1px 1px 8px 1px rgb(4, 4, 4);
}

.nosotros__link:hover, .nosotros__link:active {
    padding: 6px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(218, 94, 0);
    box-shadow: 1px 1px 8px 1px rgb(255, 255, 255);
    background-color: rgb(254, 102, 7);
    border: groove 1px rgb(255, 255, 255);
}

.nosotros__link:focus {
    border: groove 2px white;
}

/*Botones terminados*/


.site__footer-1 {
    background-color: black;
    margin: 0 auto;
    border-bottom: 3px solid white;
    padding: 5% auto;
    box-shadow: 2px 2px 9px white;
}

.site__footer {
    background-color: black;
    margin: 0 auto;
    border-bottom: 3px solid white;
    padding: 5% auto;
    box-shadow: 2px 2px 9px white;
}

.site__footer__text {
    color: white;
    text-shadow: 3px 5px 6px rgb(168, 190, 0);
    font-size: 1.5vw;
    padding: 5px;
    margin: 5px auto;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 5px;
    box-shadow: 4px 4px 12px 4px white;
}

.end__page {
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}

.text__end {
    color: white;
    font-size: 1.5vw;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    text-shadow: 4px 1px 5px rgb(255, 255, 0);
}

.social__media__links__text {
    color: white;
    padding: 15px;
}

.social__media__link {
    color: white;
    padding: 30px;
    font-size: 2.7vw;
}